@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;

}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-size: 4.5vw;
    
}

header > p {
    padding-bottom: 50px;
}

a {
    color: goldenrod;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.2em;
    
}

section > p {
    width: 400px ;
    background-color: rgba(0, 0, 0, 0.493);
    padding-bottom: 2em;
    color: white;

}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.993);
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.541);
}


section.imagem {
    background-color: rgb(255, 255, 255);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.822);
    background-attachment: fixed;
}


section.normal {
    background-color: rgb(3, 3, 3);
    color: black;
}


section#img01 {

    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;

}

section#img02{
background-image: url(../imagens/background002.jpg);

background-size: cover;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}